.wpm-container img{
	max-width: 100%;
	height: auto;
}
.wpm-list{
	list-style: none;
	padding: 0;
	margin: 0;
	zoom: 1;
	clear: both; 
}

.wpm-list:before, .wpm-list:after{
	content: "";
	display: table;
}
.wpm-list:after{
	clear: both;
}

.wpm-list .wpm-item{
	margin-bottom: 30px;
	float: left;
	width: 25%;
	position: relative;
}

.wpm-list .wpm-poster{		
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.wpm-list .wpm-item .wpm-poster:before{
	content: "";
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.6);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.wpm-list .wpm-item h3.wpm-title{
	position: absolute;
	background: rgba(0,0,0,0.6);
	width: 100%;
	top: 0px;
	margin: 0px;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;	
}

.wpm-list .wpm-item .wpm-meta{
	position: absolute;
	background: rgba(0,0,0,0.6);
	width: 100%;
	bottom: 0px;
	margin: 0px;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;	
}

.wpm-list .wpm-item .wpm-view{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	-ms-transform: translateY(-50%) translateX(-50%) scale(0.25);
	-o-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
	opacity: 0;
	border: 2px solid #FFFFFF;
	backface-visibility:hidden;
	color: #FFF;	
	font-size: 24px;
	padding: 5px 20px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease 0.2s;
	-o-transition: all 0.3s ease 0.2s;
	transition: all 0.3s ease 0.2s;
}

.wpm-rating {
  float: left;
  unicode-bidi: bidi-override;  
  text-align: left;
}

.wpm-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;	
}

.wpm-rating > span.active{
  color: transparent;
}

.wpm-rating > span.active:before{
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.wpm-year{
	float: right;
	color: #66FCE7;
}

.wpm-list .wpm-text-overlay{	
	display: none;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.wpm-list .wpm-text-overlay.active{
	display: block;
}

.wpm-list .wpm-close{
	position: absolute;
	right: 0px;
	top: 0px;
	background: #000;
	color: #FFF;
	font-size: 12px;
	padding: 4px 8px;
	cursor: pointer;
}


.wpm-list .wpm-text{
	background: #FFF;
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	z-index: 100;	
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.wpm-list .wpm-text h3{
	margin-top: 0px;
}


.wpm-list .wpm-item .wpm-poster:hover:before{
	visibility: visible;
	opacity: 1;
}

.wpm-list .wpm-item .wpm-poster:hover .wpm-title{
	top: -60px;
}

.wpm-list .wpm-item .wpm-poster:hover .wpm-meta{
	bottom: -60px;
}

.wpm-list .wpm-item .wpm-poster:hover .wpm-view{
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	-ms-transform: translateY(-50%) translateX(-50%) scale(1);
	-o-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);	
	opacity: 1;
}